<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
<div th:if="${authors}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">Id</td>
            <td th:text="${author.name}">Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
